/* Estilos generales */
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 20px;
	justify-content: center center;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh; /* Agregamos una altura del 100% del viewport */
}


/* Estilos para el video */
video {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1;
	transform: translateX(-50%) translateY(-50%);
}

/* Estilos para el texto del juego */
.texto-juego {
	font-family: "Lucida Console", Monaco, monospace;
	color: white;
	text-align: center;
	font-size: 50px;
	margin-top: 30px;
}
.texto {
	color: white;
}
/* Estilos para el formulario de la palabra secreta */
.formulario-palabra {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}

.formulario-palabra input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	border-radius: 5px;
	font-size: 16px;
}

.btn-palabra {
	background-color: #f44336;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	transition: background-color 0.3s;
	margin-top: 20px;
}

.btn-palabra:hover {
	background-color: #c62828;
}


/* Estilos para la ventana modal */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.8);
}

/* Estilos para el contenido de la ventana modal */
.modal-content {
	background-color: #f44336;
	color: white;
	margin: 10% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	max-width: 500px; /* Agregamos un valor máximo de ancho */
	animation: typing 4s steps(50) 1s forwards;
	font-size: 32px; /* Ajustamos el tamaño de la letra */
	border-radius: 5px;
}
  
/* Estilos para el botón de cierre de la ventana modal */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}
  
  
/* Estilos para el formulario de las preguntas */
.formulario-pregunta {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	height: 400px;
}
  
.formulario-pregunta input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	border-radius: 5px;
	font-size: 16px;
}
